body{
    background: url('../img/pattern.jpg');
    color: black;
    
}

img{
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    display: inline;
}

a li{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section{
    background-color: white;
    margin: 10px 150px 50px;
    
}

h1{
    text-align: center;
    padding: 20px 0px 0px 0px ;
}

h3:link{
    text-decoration: none!important;
}

article{ 
    padding: 10px 25px;
}

p{
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}